@tailwind base;
@tailwind components;
@tailwind utilities;

.custom_scrollbar::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

.custom_scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 40px;
}

.sidebar:hover .custom_scrollbar::-webkit-scrollbar-thumb {
  background-color: rgb(206, 206, 206);
}

.custom_scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgb(228, 228, 228);
}

@layer base {
  :root {
    --bg: rgb(255, 255, 255);
    --fg: rgb(27, 25, 31);
    --primary: 124 58 237;
    --primary-dark: rgb(26 1 68);
    --sidebar-width: 260px;
  }

  *,
  *::before,
  *::after {
    @apply box-border;
  }

  body {
    @apply bg-bg text-fg text-base leading-normal;
  }
}

@layer components {
  .dashboard_sidebar_link {
    @apply flex items-center px-7 py-3 leading-normal text-opacity-75 hover:text-opacity-100 hover:bg-gradient-to-r hover:from-primary/80 hover:to-transparent transition-colors duration-75 cursor-pointer font-normal text-white;
  }

  .dashboard_sidebar_link_active {
    @apply text-opacity-100 bg-gradient-to-r from-primary/80 to-transparent;
  }

  .dropdown_container {
    @apply relative max-w-full;
  }
  .dropdowon_content {

  }
}
